:root{
  --black: #000;
  --light-gray: #F6F6F6;
  --gray: #999;
  --white: #ffffff;
  --purple: #D18CE0;
  --blue: #3e64ff;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--light-gray);
  font-family: 'Open Sans',sans-serif;
   z-index: -1;
}

a{
  text-decoration: none;
}

hr{
  width: 90%;
}

.bold{
  font-weight: 900;
}

.title-size{
  font-size: 4rem;
}

.unstyled-list{
  list-style-type: none;
}

.light-gray{
  color: var(--gray);
}

.text-align-center{
  text-align: center;
}

/* NAVBAR */

.navbar{
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-nav{
  margin-right: 6%;
}

.navbar .navbar-nav a{
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  margin-left: 15px;
}

.navbar .navbar-nav a:hover{
  color: var(--black);
  background-color: var(--light-gray);
}

/* WELCOME SECTION */

#welcome-section{
  background-color: var(--purple);
  color: var(--white);
  height: 100vh;
  width: 100%;
  text-align:center;
  padding: 20% 0;
}

.welcome-section-img{
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 40%;
}

.myName-description{
  color: var(--black);
  font-family: 'Oswald', sans-serif;
}

/* ABOUT SECTION */

#about_me-section{
  width: 100%;
}

.about-me-img{
  width: 30%;
  margin: 5% 7%;
}

.about-me-description{
  float: right;
  width: 50%;
  margin-right: 6%;
  margin-top: 10%;
}

.personal-information{
  font-size: 1.3rem;
  line-height: 3;
  padding-left: 0;
  margin-top: 10%;
}

.margin-size-dob{
  margin-right: 5%;
}

.margin-size-name{
  margin-right: 14%;
}

.margin-size-address{
  margin-right: 11%;
}

.margin-size-contact{
  margin-right: 8%;
}

.margin-size-email{
  margin-right: 15%;
}

/* RESUME SECTION */

#resume-section{
  margin-top: 10%;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.resume-section-container{
  border: 1px solid var(--gray);
  margin: 5% 7%;
}

.resume-section-container> .resume-details{
  padding: 10px;
}

.purple{
  background-color: var(--purple);
  color: var(--white);
  width: 100%;
}


/* Skills */

.row{
  gap: 10px;
}

.col-sm{
  background-color: var(--white);
  margin: 15px;
}

.col-sm > h4{
  text-align: center;
  margin: 20px 0;
  padding-bottom: 20px;
}

.line-height-2{
  line-height: 2;
}

.icon{
  font-size: 50px;
  margin: 15px 0;
}

.icon-html5{
  color: #FF9551;
}

.icon-css3{
  color: #277BC0;
}

.icon-bootstrap{
  color: #A460ED;
}

.icon-javascript{
  color: #F0DB4F;
}

.html5, .css3, .bootstrap5, .javascript{
  font-size: 1.5rem;
  margin: 15px 10px;
  padding: auto 0;
}

/* Trainings */

.trainings-row{
  margin: 20px 20%;

}

.trainings-second-row > .col-lg-3{
  margin-left: 5px;
}

.col-lg-3{
 background-color: var(--white);
 width: 30%;
 padding: 10px;
 cursor: pointer;
}

.col-lg-3:hover{
  background-color: var(--black);
  color: white;
}



/* TRAINING PROJECTS SECTION */

#projects{
  background-color: var(--black);
  width: 100%;
  padding: 10% 0;
  margin: 50px auto;
}

.project-title{
  text-align:center;
  color: var(--white);
  margin-top: -5%;
  padding-bottom: 5%;
}

.project-tile{
  background-color: var(--purple);
  gap: 10px;
  height: 50vh;
}

.project-tile:hover{
  background-color: 0;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

.project-tile-img{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 8px;
}

.project-tile > a{
  color: var(--white);
  text-align:center;
}

.second-row{
  margin-top: 50px;
}


/* CONTACTS SECTION */

#contacts{
  width: 100%;
}

.contacts-title{
  padding: 30px;
}

.contacts-row{
  width: 85%;
  margin:30px auto;
}

.contacts-col{
  width: 21.25%;
  background-color: #F2F2F2;
}

.contacts-icon{
  color: var(--white);
  font-size: 30px;
  position: relative;
  top: 30px;
  left: 35px;
}

.contacts-icon-circle{
  background-color: var(--blue);
  border-radius: 50%;
  border: none;
  height: 90px;
  width: 100px;
  position: relative;
  margin: 30px auto;
}

.icon-label{
  margin-bottom: 30px;
}

.send-message-section{
  background-color: #EEEEEE;
  width: 85%;
  margin: auto;
}

.send-message-img{
  width: 50%;
  z-index: -1;
}

.input-container{
  width: 50%;
  float: right;
}

input,textarea{
  border: 1px solid var(--gray);
  border-radius: 5px;
  display: block;
  margin: 40px;
  width: 85%;
  height: 10%;
  padding: 10px;
}

textarea{
  height:50%;
}

.submit{
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
}

.submit:hover{
  color: var(--black);
}

/* FOOTER SECTION */

footer{
  height: 15%;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  z-index: 1;
  text-align: right;
  padding-right: 8%;
  padding-top: 10px;
}

.footer-icon{
  color: var(--white);
  font-size: 30px;
  margin-left: 15px;
}


/* Tablet Screen */

@media only screen and (max-width: 768px){

  /* WELCOME SECTION */

  #welcome-section{
    padding-left: 15%;
  }
  #welcome-section > h1{
    font-size: 3rem;
  }
  .welcome-section-img{
left: 9%;
top: 27%;

}

/* ABOUT ME SECTION */

#about_me-section{
  margin-bottom: 70px;
  margin-top: 30px;
}

.about-me-description{
  height: 10px;
  font-size: 16px;
}
.about-me-img{
  height: 80%;
}
.personal-information{
  font-size: 1rem;
  line-height: 2;
}
.margin-size-name{
  margin-right: 17%;
}
.margin-size-address{
  margin-right: 14%;
}
.margin-size-contact{
  margin-right: 10%;
}
.margin-size-email{
  margin-right: 19%;
}

/* RESUME SECTION */
/* My Skills */

.container{
  margin: 40px;
}
.col-sm{
  margin: 0;
  width: 100%;
}
.col-sm > h4{
  padding-bottom: 10px;
}
.icon{
  font-size: 40px;
}
.html5, .css3, .bootstrap5, .javascript{
  font-size: 1rem;
}
/* Trainings */
.trainings-row{
  margin: 20px 0;
}

/* TRAINING PROJECTS SECTION */
.project-tile{
  height: 40vh;
}

/* CONTACTS SECTION */

.contacts-row{
  width: 100%;
}
.contacts-col{
  width: 25%;
  font-size: 12px;
}
.contacts-icon-circle{
  width: 70px;
  height: 60px;
}
.contacts-icon{
  font-size: 20px;
  top: 20px;
  left: 25px;
}
.icon-label{
  font-size: 15px;
}
/*Send Message */
.form{
  height: 90vh;
}
input,textarea{
  margin: 20px;
}

}

/* MOBILE SCREEN */

@media only screen and (max-width:480px){

  /*WELCOME SECTION */
  #welcome-section{
    padding-top: 30%;
    padding-left: 3%;
    position: relative;
  }
  #welcome-section > h1{
    font-size: 2rem;
  }
  .myName-description{
    font-size: .8rem;
  }
  .welcome-section-img{
    top: 0;
    left: 2%;
    position: relative;
  }

  /* ABOUT ME SECTION */
  .about-me-img{
    display: none;
  }
  #about_me-section{
    height: 90vh;

  }
  .about-me-title{
    text-align: center;
  }
  .about-me-description{
    width: 100%;
    margin: 50px auto;
    padding: 10px;
    font-size: .9rem;
  }
  .personal-information{
    font-size: .9rem;
    line-height: 2.5;
  }
  .margin-size-name{
  margin-right: 15%;
}
.margin-size-address{
  margin-right: 12%;
}
.margin-size-contact{
  margin-right: 9%;
}
.margin-size-email{
  margin-right: 16%;
}

  /* RESUME SECTION */

  .resume-section-container{
    margin: 3%;
  }

  /*Skills */
  .container{
    margin: 0;
  }

  /*Trainings */
  .trainings-row{
    margin: 0;
    width: 100%;
}
.trainings-second-row > .col-lg-3{
  margin-left: 0;
}
.col-sm-12{
  width: 100%;
}

/* TRAINING PROJECTS SECTION */
.project-tile{
  height: 20vh;
  width: 100%;
  margin: 20% 10%;
}
.project-tile:hover{
  background-color: 0;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.technical-docu-page{
  height: 25vh;
}

/* CONTACTS SECTION */
.contacts-col{
  width: 50%;
}
/*Send Message*/
.send-message-section{
  margin: 10px;
  width: 100%;
  height: 100vh;
}
.send-message-img{
  display: none;
}
.input-container{
  width: 100%;
}


}
